{% extends 'base.html' %}
{% block title %} Login{% endblock %}
{% block body %}
    <form action="{{ url_for('.login') }}">
        <div class="form-group">
            {{ form.hidden_tag() }}
            {% if form.username.errors %}
                {% for error in form.username.errors %}
                    <p class="form-text">{{ error }}</p>
                {% endfor %}
            {% endif %}
            {{ form.username(class_='form-control') }}
        </div>
        <div class="form-group">
            {% if form.password.errors %}
                {% for error in form.password.errors %}
                    <p class="form-text">{{ error }}</p>
                {% endfor %}
            {% endif %}
            {{ form.password(class_='form-control') }}

        </div>
        <div class="form-group">
            {% if form.confirm.errors %}
                {% for error in form.confirm.errors %}
                    <p class="form-text">{{ error }}</p>
                {% endfor %}
            {% endif %}

            {{ form.confirm(class_='form-control') }}

        </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>

    </div>


    </form>
{% endblock %}